@import './settings/color.scss';
@import './settings/typo.scss';
@import 'scss-reset/reset';
@import './settings/reset.scss';

@media (max-width: 1900px) {
  :root {
    zoom: 0.9;
  }
}

@media (max-width: 1700px) {
  :root {
    zoom: 0.8;
  }
}

@media (max-width: 1500px) {
  :root {
    zoom: 0.7;
  }
}
