@import 'src/styles/style.scss';

.container {
  display: flex;
  justify-content: space-between;
  position: relative;

  .arrivalInformation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;

    width: 548px;
    height: 124px;
    padding: 34px 40px;

    background-color: $white;
    box-shadow: 6px 6px 54px rgba(0, 0, 0, 0.05);
    border-radius: 24px;

    :first-child {
      @include H3;
      color: $main-1;
    }

    :nth-child(2) {
      color: rgba(33, 33, 33, 0.8);
      @include Body4;
      font-weight: 700;
    }
  }

  .product {
    display: flex;
    align-items: center;
    gap: 18px;

    img {
      width: 125px;
      height: 125px;
      border: 1px solid #d8d8d8;
      border-radius: 14px;
    }

    .productInformation {
      display: flex;
      flex-direction: column;
      padding: 0 24px;

      :first-child {
        color: $black;
        @include H4;
        margin-bottom: 6px;
      }

      :nth-child(2) {
        color: $black;
        @include Body2;
        font-weight: 500;
        margin-bottom: 16px;
      }

      :nth-child(3) {
        color: $black;
        @include H3;
      }
    }
  }
}
