@import 'src/styles/style.scss';

.container {
  height: calc(100vh - 93px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 42px;

  div {
    color: $main-4;
    @include H1;
  }

  img {
    margin-bottom: 17px;
  }
}
